

@media screen and (min-device-width: 320px) {
  .favorites-container {
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(1 1fr);
  }
}

@media screen and (min-width: 321px) {}
@media screen and (min-width: 750px) {}
@media screen and (min-width: 900px) {}
@media screen and (min-width: 1300px) {}
@media screen and (min-width: 1600px) {}