* {
  /* border: red solid 1px; */
}

.header {
  display: grid;
  grid-template-columns: 6em 10em;
  grid-template-rows: 50px;
  align-items: center;
  background-color: #62959c;
}

h1 {
  font-size: 20px;
  font-family: 'Padauk', sans-serif;
  padding: 5px 0 0 5px;
}

.tab-container {
  width: 13em;
  margin-top: 30px;
}

.to-favorites,
.go-home,
.game-tab {
  font-size: 14px;
  text-decoration: none;
  color: black;
}

.game-tab{
  padding-left: 15px;
}

.fa-cat {
  font-size: 10px;
}