* {
  /* border: red solid 1px; */
}

.header {
  display: grid;
  grid-template-columns: 6em 10em;
  grid-template-rows: 50px;
  align-items: center;
  background-color: #BDD9BF;
}

h1 {
  font-size: 20px;
  font-family: 'Padauk', sans-serif;
}

.to-favorites,
.go-home,
.game-tab {
  font-size: 14px;
  text-decoration: none;
  color: black;
}

.fa-cat {
  font-size: 10px;
}