@media screen and (min-device-width: 320px) {
  .dashboard {
    background-color: #62959c;
    height: 33em;    
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
  }

  .advice {
    color: #FFFFFF;
    width: 15em;
    font-family: 'Padauk', sans-serif;
  }
  
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #726a95;
    width: 18em;
  }

  .cat-picture,
  .default-cat {
    width: 12em;
    height: 12em
  }

  .button-container {
    display: flex;
    padding: 15px 0;
  }

  .advice-button, 
  .add-favorite {
    width: 9em;
    height: 2em;
    font-size: 9px;
    background: #ffba93;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
  }


}

@media screen and (min-width: 321px) {
  .dashboard {
    height: 59em;    
    padding-top: 5em;
  }
}
@media screen and (min-width: 750px) {
  .dashboard {
    height: 59em;    
    padding-top: 5em;
  }

  .content {
    width: 33em;
    padding-top: 2em;
  }

  .advice {
    font-size: 25px;
  }

  .cat-picture,
  .default-cat {
    width: 15em;
    height: 15em
  }

  .button-container {
    padding-top: 3em;
  }

  .advice-button, 
  .add-favorite {
    font-size: 17px;
  }
}
@media screen and (min-width: 900px) {}
@media screen and (min-width: 1300px) {}
@media screen and (min-width: 1600px) {}

