@media screen and (min-device-width: 320px) {
  .dashboard {
    background-color: #BDD9BF;
    height: 33em;    
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
  }

  .advice {
    color: #FFFFFF;
    width: 15em;
    font-family: 'Padauk', sans-serif;
  }
  
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #412234;
    width: 18em;
  }

  .cat-picture,
  .default-cat {
    width: 12em;
    height: 12em
  }

  .button-container {
    display: flex;
  }

  .advice-button, 
  .add-favorite {
    width: 9em;
    height: 2em;
    font-size: 9px;
  }


}

@media screen and (min-width: 321px) {}
@media screen and (min-width: 750px) {}
@media screen and (min-width: 900px) {}
@media screen and (min-width: 1300px) {}
@media screen and (min-width: 1600px) {}

